@charset "UTF-8";

@dark-back: #141518;

html
{
    height: 100%;
}

body
{
    margin: 0;
    height: 100%;
    background-color: @dark-back;
}

.iga-root
{
    height: 100%;

    .the-viewer
    {
        height: 100%;

        ul
        {
            display: none;
        }
    }
}