.preview-panel
{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    z-index: 2018;
    flex-wrap: wrap;
    font-size: 0;
    padding: 20px;
    background-color: rgba(31, 31, 31, 0.4);

    .thumbnail
    {
        margin: 5px;
        border-radius: 3px;
        overflow: hidden;
    }
}